<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:700|Montserrat:300" rel="stylesheet">
  {{#if kids}}
    <link rel="stylesheet" href="css/kids.css">
    {{else}}
    <link rel="stylesheet" href="css/main.css">
  {{/if}}

  <title>{{ title }}</title>
</head>
<body>
  <div id="main-container">
    <div id="container">
      <h1 class="hidden">Roku | Flashback Video App</h1>
      <header>
        <img src="images/roku.svg" alt="Roku Logo">
        <nav id="main-nav">
          <h1 class="hidden">Main Navigation</h1>
          <ul>
            <li><a href="/"><i class="ion-person"></i>Users</a></li>
            <li><a href="#"><i class="ion-ios-gear"></i>Settings</a></li>
            <li><a href="#"><i class="ion-android-menu"></i>Menu</a></li>
          </ul>
        </nav>
      </header>

      {{{ body }}}

    </div>
  </div>
  <footer>
    <h1 class="hidden">Footer Navigation</h1>

  </footer>
  <!-- <script src="greensock-js/src/minified/TweenMax.min.js"></script> -->
  <script src="js/prod/production.js"></script>

</body>
</html>
