<section class="movies-section">
  <div>
    <h1>Welcome Admin</h1>
    <div>
      <div>
        <i></i>
      </div>
      <div>
        <i></i>
      </div>
      <div>
        <i></i>
      </div>
    </div>
  </div>
  <div class="options">
    <h2>What do you want to watch?</h2>
    <div class="option">
      <img src="images/icon_movies.png" alt="Movies icon">
      <button class="movies" type="button" name="Movies"><a href="/movies">Movies</a></button>
    </div>
    <div class="option">
      <img src="images/icon_television.png" alt="TV icon">
      <button class="television" type="button" name="Series">Series</button>
    </div>
    <div class="option">
      <img src="images/icon_music.png" alt="Music icon">
      <button class="music" type="button" name="Music">Music</button>
    </div>
  </div>
</section>
