<section class="kids-section">
  <div>
    <h1>Welcome Kids</h1>
    <h2>What do you want to watch?</h2>
  </div>
  <div class="options">
    <div class="option">
      <img src="images/icon_movies.png" alt="Movies icon">
      <button class="movies" type="button" name="Movies"><a href="/movies">Movies</a></button>
    </div>
    <div class="option">
      <img src="images/icon_television.png" alt="TV icon">
      <button class="television" type="button" name="Series">Series</button>
    </div>
    <div class="option">
      <img src="images/icon_music.png" alt="Music icon">
      <button class="music" type="button" name="Music">Music</button>
    </div>
  </div>


</section>
