<section id="app">
  <section class="movies-section">
    <h1>${message}</h1>
    <div id="movies">
      <div v-for="movie in movies" :id=movie.movies_id class="cover">
        <h4>${movie.movies_title}</h4>
        <img :src='"images/"+ movie.movies_cover' :alt="movie.movies_title">
      </div>
    </div>
  </section>
</section>
