<section class="kids-section">
  <h2>Movies</h2>
  <div id="movies">
  {{#each movies}}
    <div class="movie-cover">
      <h4>{{ movies_title }}</h4>
      <img src="images/{{ movies_cover }}" alt="{{ movies_title }}">
    </div>
  {{/each}}


  </div>
</section>
